html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}
body {
  background-color: #2672f4;
}
h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
}
fieldset {
  background-color: #2671f2;
  border: 2px solid #a3d4ff;
  width: 25rem;
  padding: 1rem;
  display: flex;
  margin-left: 23rem;
}
input {
  border: 0;
  background-color: #2672f4;
  outline: 0;
  width: 100%;
}
::placeholder {
  color: #a3d4ff;
  font-weight: 600;
  font-size: 1rem;
}
.add {
  color: white;
  margin-left: 10rem;
  font-size: 2rem;
  font-weight: 900;
}
.item {
  will-change: transform;
  background-color: white;
  width: 25rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 23rem;
  color: #2672f4;
  font-size: 2rem;
  position: relative;
}
.over {
  transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
